* {
  color: white;
  font-family: "Courier New", monospace;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  background-color: rgb(228, 188, 40);
  border-radius: 5px;
}

li a:hover {
    background-color: #b47d31;
}

img {
    width: 75%;
    height: auto;
    aspect-ratio: 3/2;
    margin: auto;
}

.gallery img {
  width: 100%;
  margin-bottom: 8.2px;
  max-width: none;
}

div.center {
  display: grid;
  place-items: center;
  grid-area: 1/1;
}

body {
  margin: 0;
  padding: 0;
  background-color:#0b0108;
  display: flex;
  justify-content: center;
  padding: 5px;
}
/* Gallery grid layout */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);;
  gap: 28px;
  width: 82vw;
  max-width: none;
  margin: auto;
}